.anim-in-out {
  &.anim-out, &.anim-in{
    position: absolute;
    top:0;
    width: 100%;
  }
}
.anim-in.anim-slide{
  &.ng-enter{
    opacity: 0;
    &.ng-enter-active{
      opacity: 1;
    }
  }
}
.time-in-day{
  -webkit-transition: all 500ms;
  transition: all 500ms;
  &.ng-leave {
    opacity: 1;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}


