$color-border: #c1c1c1;
$radius-form: 3px;
$shadow-form: 1px 2px  5px rgba(0,0,0,0.3);
$color-button: white;
$color-background-day: rgb(252, 255, 230);
$font-family: Geneva, Arial, Helvetica, sans-serif;

.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.select{
  color: darkred;
}
button, .button{
  padding: 8px 15px;
  border: 1px solid $color-border;
  border-radius: $radius-form;
  box-shadow: $shadow-form;
  text-align: center;
  min-width: 100px;
  cursor: pointer;
  background-color: $color-button;
  &:active{
    box-shadow: none;
    color: gray;
  }
}
.width-100{
  width: 100%;

}
.width-day{
  width: 14.28%;
}
.height-100{
  height: 100%;
}
.table{
  display: table;
  .table-cell{
    display: table-cell;
  }
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}


.border{
  border: 2px solid $color-border;
}
.inline-block{
  display: inline-block;
}
.relative{
  position: relative;
}
.absolute{
  position: absolute;
  left: 0;
  top: 0;
}
.row{
  margin-bottom: 15px;
}