@import "constant";
@import "../module/lv-dialog/lv-dialog";
@import "animation";
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: white;
  height: 100%;
  font-family: $font-family;
}
html{
  height: 100%;
}
input, textarea{
  outline: none;
  padding: 5px 8px;
  border: 1px solid $color-border;
  border-radius: $radius-form;
}
.has-error{
  input, textarea{
    border: 1px solid $color-error;
    box-shadow: $shadow-error;
  }
}


.week{
  height: 100%;
  padding: 8px;
  .times{
    min-width: 100px;
  }
  .day{
    @extend .width-day;
    float:left;
    &>div:not(:last-child){
      border-right: 1px solid $color-border;
    }
    .day-title{
      top: -15px;
      width: 100%;
      text-align: center;
      z-index: 5;
      &>div{
        padding: 5px 15px;
        background: white;
        border-radius: $radius-form;

        font-size: 12px;
      }

    }
    .mission{
      min-height: 20px;
      padding: 5px;
      border-radius: $radius-form;
      box-shadow: $shadow-form;
      border: 1px solid #c1c1c1;
      background-color: white;
      cursor: pointer;
      width: 100%;
    }
  }
  .day:not(:last-child)>div{
    border-right: 1px solid $color-border;
  }
  .time-container{
    padding: 2px;
    &>div{
      height: 100%;
      border-radius: $radius-form;
      box-shadow: 0 0 2px white;

    }
    .time-in-day{
      width: 100%;
      overflow: hidden;
      .title{
        color: gray;
        padding: 5px;
      }
      &:hover{
        -ms-transform: scale(1.02); /* IE 9 */
        -webkit-transform: scale(1.02); /* Safari */
        transform: scale(1.02);
      }
    }
  }
}
.container-buttons{

}
.day-title.current {
  color: #ff6100;
}

.times{
  padding: 4px;
  &>div{
    height: 100%;
    &>div{
      left:5px;
    }
  }
  .time-in-times{
    padding: 5px;

  }
}
