@import "constant";
@import "../module/lv-dialog/lv-dialog";
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #d8d8d8;
  height: 100%;
  font-family: $font-family;
}
html{
  height: 100%;
}
input, textarea{
  outline: none;
  padding: 5px 8px;
  border: 1px solid $color-border;
  border-radius: $radius-form;
}


.week{
  height: 100%;
  padding: 8px;
  .times{
    min-width: 100px;
  }
  .day{
    @extend .width-day;
    float:left;
    &>div:not(:last-child){
      border-right: 1px solid $color-border;
    }
    .day-title{
      top: -15px;
      width: 100%;
      text-align: center;
      z-index: 5;
      &>div{
        padding: 5px 15px;
        background: white;
        border-radius: $radius-form;
        box-shadow: 0 0 2px white;
        box-shadow: $shadow-form;
      }
     /* &.current>div{
        background-color: $color-background-day;
      }*/
    }
    .mission{
      min-height: 20px;
      padding: 5px;
      border-radius: $radius-form;
      box-shadow: $shadow-form;
      width: 100%;
    }
  }
  .day:not(:last-child)>div{
    border-right: 1px solid $color-border;
  }
  .time-container{
    padding: 2px;
    &>div{
      background: white;
      height: 100%;
      border-radius: $radius-form;
      box-shadow: 0 0 2px white;
      /*&.current{
        background-color: $color-background-day;
      }*/
    }
    .time-in-day{
      width: 100%;
    }
  }
}
.container-buttons{
  margin-bottom: 30px;
}
.day-title.current {
  color: #ff6100;
}

.times{
  padding: 4px;
  &>div{
    height: 100%;
    //background: white;
    &>div{
      left:5px;
    }
  }
}
