doctype html
html lang="en" ng-app="app"
	head
		title Test mission
		meta name="keywords" content="template language"  charset="UTF-8"
		/ start auto template tags
		script type="text/javascript" src="bower_components/angular/angular.min.js"
		script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"
		script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"
		script type="text/javascript" src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"
		script type="text/javascript" src="bower_components/angular-ui-router-anim-in-out/anim-in-out.js"
		script type="text/javascript" src="build/_init.js"
		script type="text/javascript" src="build/config/config-state-provider.js"
		script type="text/javascript" src="build/constant/constant-times.js"
		script type="text/javascript" src="build/controller/controller-day.js"
		script type="text/javascript" src="build/controller/controller-mission.js"
		script type="text/javascript" src="build/controller/main-block-control.js"
		script type="text/javascript" src="build/controller/week-control.js"
		script type="text/javascript" src="build/directive/directive-c-day.js"
		script type="text/javascript" src="build/directive/directive-c-mission.js"
		script type="text/javascript" src="build/directive/directive-ui-view.js"
		script type="text/javascript" src="build/factory/factory-local-storage.js"
		script type="text/javascript" src="build/factory/factory-week.js"
		script type="text/javascript" src="build/factory/factrory-day.js"
		script type="text/javascript" src="module/lv-validation/_init.js"
		script type="text/javascript" src="module/lv-dialog/lv-dialog.js"
		script type="text/javascript" src="module/lv-validation/directive/directive-valid.js"
		script type="text/javascript" src="module/lv-validation/factory/factory-valid-class.js"
		script type="text/javascript" src="module/lv-validation/factory/factory-valid.js"
		script type="text/javascript" src="module/lv-validation/factory/factory-validation-format.js"
		link  rel="stylesheet" href="build/index.css " data-css-type="custom-theme"
		link  rel="stylesheet" href="bower_components/angular-ui-router-anim-in-out/css/anim-in-out.css " data-css-type="custom-theme"
		/ end auto template tags

	body
		div class="height-100"
			div ui-view="" class="main-container height-100"

		div class="dialogs-container"

